---
faq:
  - question: Why NicE ?
    answer: >-
      Since my early college years, my account id was **nendredi** but one day,
      when I tried to use it on a website login (don't remember wich) that id
      was not avaible so I added a few letter of my first name et voilà ! It's
      only a few hours later that I saw you can divide it into **Nice** and
      **ndredi** (which kinda sounds like *and ready* or *and dready* don't you
      think ?
---

<h1>FAQ</h1>

<section class="faq">
	<ul>
		{% for item in page.faq %}
			<li><a href="#{{ item.question | slugify }}">{{ item.question }}</a></li>
		{% endfor %}
	</ul>

	{% for item in page.faq %}
		<h2 id="{{ item.question | slugify}}">{{ item.question }}<a class="header-link" href="#{{ item.question | slugify }}">#</a></h2>
		{{ item.answer | markdownify }}
	{% endfor %}
</section>